.card{
    margin: 1em;
}

#container{
    padding: 2em;
}

#researchBar{
    margin-top: 2em;
}

hr#separateurH {
    border: none;
    border-top: 3px double rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    overflow: visible;
    text-align: center;
    height: 3px;
}

hr#separateurH:after {
    color: black;
    background: #fff;
    content: 'Filters';
    padding: 0 4px;
    position: relative;
    top: -13px;
}
