<div class="mx-5" style="margin-top: 5rem;">


    <h1>Cart</h1>
  
<button type="button" class="btn btn-warning btn-2x" data-toggle="modal" data-target="#NouveauEtudiant" data-whatever="@getbootstrap">
    <i class="fa fa-user-plus fa-2x" aria-hidden="true "></i>  </button>

    <br/><br/>
    <div class="modal fade" id="NouveauEtudiant" tabindex="-1" role="dialog" aria-labelledby="NouveauEtudiantLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="NouveauEtudiantLabel">Ajouter un nouvel étudiant</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
    
                <div class="modal-body">
                    <form class="needs-validation" novalidate>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputINE">INE</label>
                                <input name="ine" type="text" class="form-control" id="inputINE" placeholder="INE" required>
                            </div>
                        </div>
    
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputNom">Nom</label>
                                <input  name="nom" type="text" class="form-control" id="inputNom" placeholder="Nom">
                            </div>
    
                            <div class="form-group col-md-6">
                                <label for="inputPrenom">Prenom</label>
                                <input  name="prenom" type="text" class="form-control" id="inputPrenom" placeholder="Prenom">
                            </div>
    
    
                            <div class="form-group col-md-6">
                                <label for="inputEmail">Email</label>
                                <input  name="mail" type="email" class="form-control" id="inputEmail" placeholder="Email">
                            </div>
                        </div>
    
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputChambre">Chambre</label>
                                <input  name="chambre" type="text" class="form-control" id="inputChambre" placeholder="Chambre">
                            </div>
                        </div>
    
    
    
                    </form>
                </div>
    
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button  type="button" class="btn btn-primary" data-dismiss="modal">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>



    <table id="example" class="table table-striped  table-hover table-fixed">
      <thead class="thead-dark">
  
          <tr>
              <th scope="col" [appSort]="books" data-order="desc" data-name="isbn">ISBN<i class="fa fa-unsorted" disabled></i></th>
              <th scope="col" [appSort]="books" data-order="desc" data-name="ean">EAN<i class="fa fa-unsorted" disabled></i></th>
              <th scope="col" [appSort]="books" data-order="desc" data-name="name">Titre<i class="fa fa-unsorted" disabled></i></th>
              <th scope="col" [appSort]="books" data-order="desc" data-name="author">Auteur<i class="fa fa-unsorted" disabled></i></th>
              <th scope="col" [appSort]="books" data-order="desc" data-name="editor">Editeur<i class="fa fa-unsorted" disabled></i></th>
              <th scope="col" [appSort]="books" data-order="desc" data-name="addedOn">Ajouté le:<i class="fa fa-unsorted" disabled></i></th>
              <th scope="col" [appSort]="books" data-order="desc" data-name="price">Prix<i class="fa fa-unsorted" disabled></i></th>

          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let book of books; let i = index" >
              <td class="text-center">{{ book.isbn }}</td>
              <td class="text-center">{{ book.ean }}</td>
              <td class="text-center">{{ book.name }}</td>
              <td class="text-center">{{ book.author }}</td>
              <td class="text-center">{{ book.editor }}</td>
              <td class="text-center">{{ book.addedOn | date: 'dd/MM/YYYY'}}</td>
              <td class="text-center">{{ book.price }}</td>
          </tr>
      </tbody>
    </table>
  </div>
  