<div id="loginContainer">
    <div class="loginBox"> <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
        <h3>Connexion</h3>
        <form method="post" (submit)="logIn()">
            <div class="inputBox">
                <input id="username" type="text" name="Username" placeholder="Nom d'utilisateur" [(ngModel)]="username">
                <input id="password" type="password" name="Password" placeholder="Mot de passe" [(ngModel)]="password">
            </div>
            <input type="submit" name="" value="Se Connecter">
            <button type="button" *ngIf="error" class="btn btn-outline-danger" disabled>{{error}}</button>

        </form>
        <br><a routerLink="../register" style="color: #59238F;">Inscription<br> </a>

    </div>
</div>